<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hero</title>
</head>
<body>
    <form action="{% url 'superheroes:edit' single_hero.id %}" method="post">
        {% csrf_token %}
        Name: {{single_hero.name}}  <input type="text" name="name" id="name" value="{{updated_hero.name}}"><br />
        Alter Ego: {{single_hero.alter_ego}}  <input type="text" name="alter_ego" id="alter_ego" value="{{updated_hero.alter_ego}}"><br />
        Primary Ability: {{single_hero.primary_ability}}  <input type="text" name="primary" id="primary" value="{{updated_hero.primary}}"><br />
        Secondary Ability: {{single_hero.secondary_ability}}  <input typr="text" name="secondary" id="secondary" value="{{updated_hero.secondary}}"><br />
        Catchphrase: {{single_hero.catch_phrase}}  <input type="text" name="catchphrase" id="catchphrase" value="{{updated_hero.catchphrase}}"><br />
        <input type="submit" value="Update!">
    </form>
</body>
</html>